html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--background);
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

header, footer {
    flex: 0 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
p{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, 
textarea, 
select {
    outline: none;
    border: none;
}

input:focus, 
textarea:focus, 
select:focus {
    outline: none;
    box-shadow: none;
}

h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 83px;
}
h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 71px;
}
h3{
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
}
h4{
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
}
.subtitle-1{
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
    text-align: left;
    text-transform: uppercase;
}
.subtitle-2{
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
}
.page-title{
    margin-bottom: 20px;
    color: var(--black-50);
}
.section-title{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: var(--black-50);
}
.main {
    max-width: 1440px;
    width: 100%; /* Добавлена ширина */
    display: flex;
    flex-direction: column;
    margin: 67px auto 0;
    padding: 20px;
}
.section-lg{
    max-width: 1440px;
    margin: 0 24px 20px;
    border: 1px solid var(--black-10);
    border-radius: 12px;
    padding: 24px 0;
}
.section-lg-inner{
    max-width: 1210px;
    margin: 0 auto;
}
section {
    scroll-margin-top: 133px; /* для ссылок на странице html чтобы не до самого верха прокручивалось */
    margin-bottom: 24px;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

.hidden {
    display: none !important;
}

/*Margin styles*/
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.ml-24{
    margin-left: 24px;
}
.mr-24 {
    margin-right: 24px;
}







/*ADAPTIVE*/
@media (max-width: 1440px) {
    .container {
        padding: 0 24px; /* Добавлены отступы */
    }
}
@media (max-width: 1280px) {
    .main {
        margin-top: 67px;
    }
    .container{
        max-width: 1098px;
        padding: 0 24px;
    }
    section {
        scroll-margin-top: 67px; /* Висота хедера */
    }
    .section-lg{
        padding: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .section-lg-inner{
        max-width: 1098px;
    }
    .breadcrumb{
        padding: 24px 24px 0;
    }
}

@media (max-width: 768px) {
    .subtitle-2{
        font-size: 16px;
    }
    .section-lg{
        padding: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 0 12px;}
}