:root{

    --background: #f9f8fe;
	--primary-01: #2e66e2;
	--primary-02: #4577e5;
	--primary-03: #5c88e8;
	--primary-04: #7499ec;
	--primary-05: #8baaef;
	--primary-06: #b9ccf5;
	--primary-07: #d1ddf9;
	--primary-08: #e8eefc;
	--secondary-01: #f7ad30;
	--secondary-02: #f8b647;
	--secondary-03: #f9bf5e;
	--secondary-04: #fac875;
	--secondary-05: #fad28c;
	--secondary-06: #fce4ba;
	--secondary-07: #fdedd1;
	--secondary-08: #fef6e8;
	--purple-01: #9747ff;
	--purple-02: #a35bff;
	--purple-03: #ae70ff;
	--purple-04: #ba84ff;
	--purple-05: #c599ff;
	--purple-06: #dcc2ff;
	--purple-07: #e8d6ff;
	--purple-08: #f3ebff;
	--red-01: #ea3a3a;
	--red-02: #ec5050;
	--red-03: #e66;
	--red-04: #f17c7c;
	--red-05: #f39292;
	--red-06: #f8bdbd;
	--red-07: #fad3d3;
	--red-08: #fde9e9;
	--green-01: #1db27b;
	--green-02: #4ac195;
	--green-03: #61c9a3;
	--green-04: #77d1b0;
	--green-05: #8ed9bd;
	--green-06: #a5e0ca;
	--green-07: #bbe8d7;
	--green-08: #d2f0e5;
	--white-100: #fff;
	--white-90: rgba(255, 255, 255, 0.9);
	--white-80: rgba(255, 255, 255, 0.8);
	--white-70: rgba(255, 255, 255, 0.7);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-40: rgba(255, 255, 255, 0.4);
	--white-30: rgba(255, 255, 255, 0.3);
	--white-20: rgba(255, 255, 255, 0.2);
	--white-10: rgba(255, 255, 255, 0.1);
	--black-100: #000;
	--black-90: rgba(0, 0, 0, 0.9);
	--black-80: rgba(0, 0, 0, 0.8);
	--black-70: rgba(0, 0, 0, 0.7);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-50: rgba(0, 0, 0, 0.5);
	--black-40: rgba(0, 0, 0, 0.4);
	--black-30: rgba(0, 0, 0, 0.3);
	--black-20: rgba(0, 0, 0, 0.2);
	--black-10: rgba(0, 0, 0, 0.1);
}